node_modules
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.git
.agents
.tmp
tmp/
.env
.vscode
*.code-workspace
CVS
.svn
.hg
.lock-wscript
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
